{layout name="layout"/}
<div class="navbar navbar-inverse" style="margin-top: 0px" >
        <!--<div class="container-fluid">-->
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">首页</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/admin/book/borrow">借阅图书<span class="sr-only">(current)</span></a></li>
                    <li><a href="#">归还图书</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">图书管理<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" style="text-align: center">图书列表</a></li>
                            <li><a href="#" style="text-align: center">添加图书</a></li>
                            <li><a href="#" style="text-align: center">图书查询</a></li>
                        </ul>
                    </li>
                    <li class="dropdown open">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">读者管理<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" style="text-align: center">读者列表</a></li>
                            <li><a href="#" style="text-align: center">添加读者</a></li>
                        </ul>
                    </li>

                <!--<form class="navbar-form navbar-left">-->
                    <!--<div class="form-group">-->
                        <!--<input type="text" class="form-control" placeholder="Search">-->
                    <!--</div>-->
                    <!--<button type="submit" class="btn btn-default">Submit</button>-->
                <!--</form>-->
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">欢迎您，{$Think.session.username}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">注销</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        <!--</div>&lt;!&ndash; /.container-fluid &ndash;&gt;-->
    </div>
<table style="border-color: #0b84fe">
    <div class="container">
        <div class="content_admin">
            <table class="table table-bordered">
                <thead>
                <tr align="center">
                    <td colspan="2" align="center">
                        <h4><p class="text-center">图书管理系统（MUXI）</p></h4>
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <strong>管理员用户</strong>
                    </td>
                    <td>
                        <!--<p class="text-info"> </p>-->
                        <p class="text-info">{$Think.session.username} </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>备  注</strong>
                    </td>
                    <td>
                        <!--<p class="text-info"> </p>-->
                        <p class="text-info">{$Think.session.remark}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>您具有的权限</strong>
                    </td>
                    <td>
                        <img src="/static/img/admin_privilege.png"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</table>
</div>
</body>