{$name}<br>
{$age}<br>
{$sex}<br>
{$salary}<br>
<hr>
{//输出数组}
{$goods.name}<br>
{$goods.price}<br>
{$goods['name']}<br>
<hr>
{//输出对象}
{$info->course}<br>
{$info->greade}<br>
<hr>
{//常量}
{$Think.const.SITE_NAME}<br>
<hr>
{//输出PHP系统常量}
{$Think.const.PHP_VERSION}<br>
{$Think.const.PHP_OS}
<hr>
{//输出系统变量}
{$_SERVER['PHP_SELF']}<br>
{$Think.server.php_self}<br>
{//$Think.server.session.id}
{$Think.get.name}
{//tp中的配置变量}
{$Think.config.database.hostname}
{//输出请求变量****很重要}
{$Request.get.name}<br>
{$Request.param.name}<br>
{$Request.path}<br>
{$Request.root.true}<br>
{$Request.controller}<br>
{$Request.action}<br>
{$Request.host}<br>
{$Request.ip}<br>