<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>慕兮图书管理系统</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/login.js"></script>
    <style type="text/css">
        .alert{
            margin: 0 auto 20px;
            text-align: center;
        }
        .jumbotron {
            padding-top: 20px;
            padding-bottom: 20px;
            margin-bottom: 0px
        }
    </style>
</head>
<body>
<div class="container">
    <div class="jumbotron" style="text-align: center;"><h3>慕兮图书管理系统</h3></div>
